.ps-timeline-sec {
  position: relative;
  background: #fff;
  margin: 22px 5% 0 5%;
}

.ps-timeline-sec .containerevu {
  position: relative;
}

@media screen and (max-width: 480px) {
  .ps-timeline-welcome-box {
    width: 99% !important;
    margin: 10px auto !important;
  }
}

@media (min-width: 481px) and (max-width: 567px) {
  .ps-timeline-welcome-box {
    width: 80% !important;
    margin: 10px auto !important;
  }

}

@media (min-width: 568px) and (max-width: 767px) {
  .ps-timeline-welcome-box {
    width: 75% !important;
    margin: 10px auto !important;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .ps-timeline-welcome-box {
    width: 55% !important;
    margin: 0 auto !important;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .ps-timeline-welcome-box {
    width: 40% !important;
    margin: 0 auto !important;
  }

}

@media screen and (max-width: 767px) {
  .divs {
    left: 0%!important;
  }
  .imag {
    margin-left: -32px!important;
  }
  .ps-timeline-sec {
    margin: 15px 15% !important;
  }

  .ps-timeline-sec .containerevu ol:before {
    background: #d6d7d7 !important;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 11px !important;
    left: 37px !important;
  }

  .ps-timeline-sec .containerevu ol:after {
    background: #d6d7d7;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: inherit !important;
    left: 37px;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline {
    margin: 20px 0 !important;
    border-left: 3px solid #d6d7d7;
    padding-left: 0 !important;
    padding-top: 70px !important;
    border-top: 0 !important;
    margin-left: 25px !important;
    border-bottom: 0 !important;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline li {
    height: 90px;
    float: none !important;
    width: inherit !important;

  }

  .ps-timeline-sec .containerevu ol.ps-timeline li:last-child {
    height: 68px;
    float: none !important;
    width: inherit !important;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline li span {
    left: 0 !important;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline li img.gif-check {
    left: 0 !important;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline li img.gif-loader {
    left: 0 !important;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline li p {
    text-align: left !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline li .ps-top {
    top: -23px;
    margin-left: 40px;
    left: 0;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline li .ps-top-passed {
    top: -25px;
    margin-left: 40px;
    left: 0;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline li .ps-bot {
    top: -7px;
    margin-left: 40px;
    left: 0;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline li .ps-bot-passed {
    top: -8px;
    margin-left: 40px;
    left: 0;
  }

  /*.ps-timeline-sec .containerevu ol.ps-timeline li:last-child .ps-bot {	
	top: -32px;	
	margin-left: 40px;
	left:0;
  } */
  .ps-timeline-sec .containerevu ol.ps-timeline li:last-child .ps-bot-passed {
    top: -24px;
    margin-left: 40px;
    left: 0;
  }

  .ps-timeline-sec .containerevu ol.ps-timeline li.passed {
    border-top: 0 !important;
    top: 0 !important;
  }

  .ps-timeline-welcome {
    font-size: 1.5em !important;
    line-height: 27px !important;
  }

  .ps-timeline-welcome-detail {
    line-height: 20px !important;
  }

  .ps-timeline-welcome-notebox {
    line-height: 21px !important;
  }
}

.ps-timeline-sec .containerevu ol:before {
  background: var(--ps-timeline-valfirt);
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 9px;
  top: 46.5%;
}

.ps-timeline-sec .containerevu ol:after {
  background: var(--ps-timeline-vallast);
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  right: 9px;
  top: 46.6%;
}

.ps-timeline-sec .containerevu ol.ps-timeline {
  margin: 70px 0;
  padding: 0;
  border-top: 5px solid #d6d7d7;
  list-style: none;
}

.ps-timeline-sec .containerevu ol.ps-timeline li {
  float: left;
  width: 18%;
  padding-top: 30px;
  position: relative;
}

.lis5{
  width: 16%!important;
}
.lis{
  width: 12%!important;
}
.divs{
  left: 35%;
}

.imag{
  margin-left: 15px;
}

.ps-timeline-sec .containerevu ol.ps-timeline li span {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #fff;
  border: 4px solid #cfd0d0;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fff;
  text-align: center;
  line-height: 50px -10;
  color: #c0c1c1;
  font-size: 1.2em;
  font-style: normal;
  position: absolute;
  top: -29px;
  left: 50%;
  padding-top: 4px;
  line-height: 35px;
}

.ps-timeline-sec .containerevu ol.ps-timeline li.passed img.gif-check {
  width: 60px;
  height: 60px;
  margin-left: -25px;
  /* border: 1px solid #c21010; */
  border-radius: 50%;
  position: absolute;
  top: -34px;
  left: 50%;
}



.ps-timeline-sec .containerevu ol.ps-timeline li img.gif-loader {
  width: 60px;
  height: 60px;
  margin-left: -25px;
  /* border: 1px solid #c21010; */
  border-radius: 50%;
  position: absolute;
  top: -34px;
  left: 50%;
}

.ps-timeline-sec .containerevu ol.ps-timeline li.passed span {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #1cbb8c;
  border: 4px solid #1cbb8c;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #fff;
  text-align: center;
  line-height: 50px -10;
  color: #fff;
  font-size: 1.2em;
  font-style: normal;
  position: absolute;
  top: -29px;
  left: 50%;
  padding-top: 4px;
  line-height: 35px;
}

.ps-timeline-sec .containerevu ol.ps-timeline li p {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.ps-timeline-sec .containerevu ol.ps-timeline li .ps-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.ps-timeline-sec .containerevu ol.ps-timeline li .ps-bot {
  position: absolute;
  margin-top: 5px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;

}

.ps-timeline-sec .containerevu ol.ps-timeline li .ps-bot-passed {
  position: absolute;
  margin-top: 5px;
  width: 100%;
  color: #2e3b54;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.ps-timeline-sec .containerevu ol.ps-timeline li .ps-top-passed {
  position: absolute;
  bottom: 0;
  margin-bottom: 69px;
  width: 100%;
  font-weight: 600;
  color: #2e3b54;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.ps-timeline-sec .containerevu ol.ps-timeline li.passed {
  border-top: 5px solid #354969;
  top: -5px;
}

.containerevu {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.containerevu-fluid:after,
.containerevu-fluid:before,
.containerevu:after,
.containerevu:before {
  display: table;
  content: " ";
}

.ps-timeline-welcome {
  /* font-family: "LondrinaSolid"; */
  font-weight: bold;
  color: #333;
  font-size: 2.3em;
  text-align: center;
  width: 100%;
  line-height: 40px;
  letter-spacing: 1px;
}

.ps-timeline-welcome-detail {
  font-family: "Roboto";
  color: #5b5b5b;
  font-size: 1.1em;
  text-align: center;
  width: 100%;
  line-height: 40px;
  /*font-weight:300;*/
}

.ps-timeline-welcome-notebox {
  font-family: "Roboto";
  color: #252b3b;
  font-size: 1.05em;
  text-align: center;
  width: 100%;
  line-height: 40px;
  /*font-weight:300;*/
  line-height: 40px;
}

.ps-timeline-welcome-detail-active {
  font-family: "Roboto";
  color: #1899e4;
  font-size: 1.1em;
  text-align: center;
  width: 100%;
  line-height: 40px;
  font-weight: 400;
}

.ps-timeline-welcome-notebox-active {
  font-family: "Roboto";
  color: #1899e4;
  font-size: 1.1em;
  text-align: center;
  width: 100%;
}

.ps-timeline-welcome-social>ul {
  text-align: center;
}

.ps-timeline-welcome-box {
  width: 35%;
  margin: 0 auto;
}

.ps-timeline-copy {
  border: none;
  color: #222;
  line-height: 20px;
  padding: 10px 50px 10px 12px;
  border-radius: 4px;
  border: 1px solid #dedbdb;
  width: 100%;
  background: #fff;
  font-weight: 600;
  text-align: center;
}

.ps-timeline-copy:focus {
  outline: none;
  box-shadow: none;
}

.copy-trigger {
  height: 34px !important;
}

/* fonts */

@font-face {
  font-family: 'LondrinaSolid';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/LondrinaSolid-Regular.ttf) format('truetype');
}

.gosen-user-status {
  padding: 0;
  background: #101a2d;
  border-radius: 4px;
  font-weight: 600;
  font-size: .8em;
  letter-spacing: .1em;
}

.gosen-user-thumb {
  display: inline-block;
  height: 28px;
  width: 28px;
  line-height: 26px;
  color: #fff;
  border-radius: 50%;
  background: #04a919;
  text-align: center;
}